{% extends "templates/web.html" %}


{% block page_content %}

<h1>{{ _('mlf:translations_helper') }}</h1>

<p>When this page is loaded, it will look for translation segments inside your app folder
	"<strong>/{{ app_site_name }}/*</strong>", will compare them with the translated ones
	into your "<strong>/{{ app_site_name }}/translations/xx.csv</strong>" files and
	will add new translations segments while keeping the translated intact.</p>

<p>If you update "<strong>/{{ app_site_name }}/translations/xx.csv</strong>" files, 
	do not forget to clear cache:</p>

<pre><code>bench --site [site-name] clear-cache
</code></pre>

{% for lang, data in languages_data.translated.items() %}
<h2 class="mt-5">Language: {{ lang }}</h2>

<p>Copy this code and paste to "/translations/{{ lang }}.csv" file</p>

<pre><code>{{ languages_data.segments_as_txt[lang] }}</code></pre>
{% endfor %}

{% endblock %}
