
<nav class="navbar navbar-light bg-white navbar-expand-lg sticky-top shadow-sm">
	<div class="container">
		<a class="navbar-brand" href="{{ "/" if lang == "en" else "/"+lang }}">
			<span>{{ brand_html or frappe.get_hooks("brand_html") or _('link:home') }}</span>
		</a>
		<button class="navbar-toggler" type="button"
			data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav justify-content-end">
				<li class="nav-item">
					<a class="nav-link" href="{{ url_lang }}/other">{{ _('link:other') }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_lang }}/setup">{{ _('link:setup') }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/translations?_lang={{ lang }}">{{ _('link:translations_helper') }}</a>
				</li>
				<span class="navbar-text ml-4"> </span>
				{% for language in languages_meta %}
				<li class="nav-item language{% if language.code == lang %} selected{% endif %}">
					<a class="nav-link" href="{{ language.url }}">{{ language.code|upper }}</a>
				</li>
				{% endfor %}

				{% include "templates/includes/navbar/navbar_search.html" %}
				{% include "templates/includes/navbar/navbar_login.html" %}
			</ul>
		</div>
	</div>
</nav>
